.img {
    max-width : 100%;
    height    : auto;
}

.img-big {

}

.card {
    margin: 5px;
    background: white;
    border-radius: 3px;
    overflow: hidden;
}

.card-container {
    padding: 10px;
}